<%- include ('partials/_header') %>

<div class="container mt-5">
    <h2>Bienvenido</h2>
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Salas Disponibles</h5>
                    <p class="card-text">Consulta la lista de salas disponibles para reservar.</p>
                    <a href="/salas" class="btn btn-primary">Ver Salas</a>
                </div>
            </div>
        </div>
        
    </div>
</div>

<%- include ('partials/_footer') %>